@import "variables";
@import "mixin";
body{
	font-family: 'Lora', serif;
	font-size: 16px;
	color: $primary;
}
a{
	color: $primary;
	&:hover{
		color: #17223f;
		text-decoration: none;
	}
	&:focus{
		outline: 0;
	}
}
.section {
	padding: 100px 0;
}
.cutsom-radio-row{
	margin-bottom: 20px;
	position: relative;
	input[type="radio"] {
		opacity: 0;
		+ label{
			padding-left: 27px;
			&::before {
				background-color: #3bb6b6;
				border-radius: 50%;
				border: 2px solid #ffffff;
				content: "";
				cursor: pointer;
				height: 35px;
				left: 0;
				position: absolute;
				top: -5px;
				width: 35px;
			}
			&::after{
				transition: all 0.2s ease;
				transform: scale(0);
				opacity: 0;
			}
		}
		&:checked ,&:not(:checked){
			+ label{
				&::after{
					background-color: #ffffff;
					border-radius: 50%;
					content: "";
					cursor: pointer;
					display: inline-block;
					height: 15px;
					left: 10px;
					position: absolute;
					top: 6px;
					transition: all 0.2s ease;
					width: 15px;
				}
			}
		}
		&:checked{
			+ label{
				&::after{
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.cutsom-radio-style-row-2{
	input[type="radio"] {
		+ label{
			padding-left: 17px;
			&::before {
				width: 25px;
				height: 25px;
				top: 0;
			}
			&::after{
				transition: all 0.2s ease;
				transform: scale(2);
				opacity: 0;
			}
		}
		&:checked ,&:not(:checked){
			+ label{
				&::after{
					height: 7px;
					width: 7px;
					top: 9px;
					left: 9px;
				}
			}
		}
		&:checked{
			+ label{
				&::after{
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
.cutsom-radio-style-row-3{
	input[type="radio"] {
		+ label{
			padding-left: 27px;
			&::before {
				width: 35px;
				height: 35px;
			}
			&::after{
				transition: all 0.2s ease;
				transform: scale(2);
				opacity: 0;
			}
		}
		&:checked ,&:not(:checked){
			+ label{
				&::after{
					background-color: transparent;
					color: #ffffff;
					content: "\f00c";
					font-family: 'FontAwesome';
					height: auto;
					left: 10px;
					top: 1px;
					width: auto;
				}
			}
		}
		&:checked{
			+ label{
				&::after{
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}